.xcx-guess-guessconfig {
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 0 16px 0 #0000000f;
    border-radius: 8px;

    .demo-dynamic-flex {
        display: flex;

        .input {
            flex: 1;
        }

        .btn {
            width: 90px;
            text-align: right;
        }
        .btn2 {
            width: 65px;
            text-align: right;
        }
    }

    .line{
        text-align: center;
    }

}