.xcx-data-datacharts {
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 0 16px 0 #0000000f;
  border-radius: 8px;
  .container_content {
    width: 100%;
    height: 480px;
    border: 1px solid #eee;
  }
}
